.info{
    display: grid;
    grid-template-columns: 300px auto;
}

.sideBar{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    height: 90.4vh;
    background-color: cadetblue;
}

.profilePic{
    width: 80px;
    height: 80px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 9rem;
}

.buttons{
    width: 180px;
    height: 55px;
    /*background: none;*/
    border: 1px ;
    border-radius: 20px;
    font: inherit;
}

.confBtn{
    width: 100px;
    height: 35px;
    margin-top: 10px;
    border: 1rem;
    border-radius: 1rem;
}

.buttons:hover,
.confBtn:hover {
    background-color: rgb(212, 212, 212);
    color: black;
    transition: background-color 2s;
    transition: color 2s;

}

.contImage img{
    display: grid;
    margin-top: 20px;
    margin-bottom: 15px;
    width: 80px;
    
}

.keepGrid{
    display: grid; 
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    grid-template-columns: repeat(4, auto);
    justify-items: center;
    align-items: center;
    justify-content: center;
    background-color: bisque;
}
