.info{
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-template-rows: 1fr;
    margin: 30px;
    justify-items: center;
    grid-gap: 0.5rem;
    
}
.title{
    text-align: center;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkolivegreen;
}
.contInputs{
    margin-top: 1rem;
    display: grid; 
    grid-template-rows: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 1rem;
}

.input{
    border-radius: 7px;
    border: 1px solid;
    width: 250px;
    height: 30px;
}
.label{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rebeccapurple;
}

.contSubmit{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr;
}

.btn{
    padding: 10px 24px;
    border-radius: 0.3rem;;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 4px;
    font-size: 16px;
    background-color: gray;
    color: aliceblue;
}
.btn:hover{
    background-color: rgb(212, 212, 212);
    color: black;
    transition: background-color 1s;
    transition: color 1s;
}

.checkbox{
    width: 18px;
    height: 18px;
    margin-bottom: 15px;
}

.contImage{
    margin: auto;
}
.contImage img{
    width: 200px;
}