.navbar {
    width: 100%;
    height: 60px;
    background-color: gray;
}

.elements{
    display: grid; 
    grid-template-columns: 1050px 500px;
    padding: auto;
}

.containerInp{
    padding: 1.2rem;
    display: flex;
    width: 100%;
    
}

.containerInput {
    flex: 1;
}

.containerAddon {
    align-items: center;
    display: flex;
    justify-content: center;
}

.containerP{
    display: grid;
}
.p {
    display: grid;
    justify-items: center;
    font-size: 22px;
    font-family: 'Product Sans',Arial,sans-serif;
}