.container{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin:10px auto;
}

.select {
    margin:20px auto;
    border-radius: 7px;
    border:1px solid;
    height:30px;
    width: 250px;
    overflow: hidden;
    position:relative;
}
.label{
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 18px;
}
.input{
    border-radius: 7px;
    border: 1px solid;
    width: 250px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 20px;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}
.title{
    text-align: center;
    font-size: 50px;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: darkolivegreen;
}