/**body{
    display: grid; 
    grid-template-columns:  1fr 1fr; 

    margin: 30px;
    justify-items: center;
    grid-gap: 0.7rem;
}

h1{
    text-align: center;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.image{
    flex: 1;
}
.login{
    align-content: center;
    flex: 1;
}

.input{

	width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(163, 40, 40);
}**/

