.info{
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-template-rows: 1fr;
    margin: 30px;
    justify-items: center;
    grid-gap: 0.5rem;
}
.title{
    text-align: center;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: brown;
}
.contInputs{
    width: 260px;
    height: 70px;
    margin-top: 1rem;
    display: grid; 
    grid-template-rows: auto;
    grid-gap: 5px;
    margin-bottom: 1rem;
}

.input{
    border-radius: 2px;
}
.label{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: blueviolet;
}

.btn{
    width: 100px;
    height: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 4px;
    background-color: cadetblue;
    color: aliceblue;
}
