.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 150px;
    justify-items: center;
    align-items: center;
    grid-gap: 0.5rem;;
}
.title{
    font-family:'Courier New', Courier, monospace; 
}